@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 50px;
}

a {
  text-decoration: none;
}

.add_note-form {
  max-width: 380px;
}

.add_note-form_header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_note-form_header button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control.checkbox {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.notes {
  margin-top: 20px;
}

.note {
  display: flex;
  align-items: center;
}

.note button {
  margin-left: 10px;
  background: none;
  border: solid 1px red;
  color: red;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s ease-in;
}

.note button:hover {
  background: red;
  border: solid 1px white;
  color: white;
}

.note.important h2 {
  position: relative;
  color: green;
}

.note.important h2::before {
  content: '';
  background-image: url('/important.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -30px;
  top: 0;
  width: 25px;
  height: 25px;
}

.links_header {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.note_card a {
  text-decoration: none;
}
